[submodule "AGI-AI-Albayancor"]
	path = AGI-AI-Albayancor
	url = https://github.com/HarasAlLisan/AGI-AI-Albayancor.git
[submodule "AI-albayancor"]
	path = AI-albayancor
	url = https://github.com/HarasAlLisan/AI-albayancor.git
[submodule "HarasAlLisan"]
	path = HarasAlLisan
	url = https://github.com/HarasAlLisan/HarasAlLisan.git
[submodule "Seal_A1"]
	path = Seal_A1
	url = https://github.com/HarasAlLisan/Seal_A1.git
